<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="APP_NAME" value="kaleido"/>
    <property name="LOG_DIRECTORY" value="~/work/myapps/kaleido/logs"/>
    <property name="NORMAL_LOG_PATTERN" value="%d [%thread] %-5p [%c] [%F:%L] - %msg%n"/>
    <contextName>${APP_NAME}</contextName>

    <timestamp key="bySecond" datePattern="yyyy-MM-dd HH:mm:ss"/>

    <!-- 控制台输出 -->
    <appender name="ConsoleOut" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <level>DEBUG</level>
            <level>TRACE</level>
        </filter>
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>${NORMAL_LOG_PATTERN}</pattern>
        </layout>
    </appender>
    <appender name="ConsoleErr" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <level>ERROR</level>
        </filter>
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>${NORMAL_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="kaleidoInfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/kaleido-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIRECTORY}/kaleido-info.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>false</append>
        <encoder charset="UTF-8">
            <pattern>${NORMAL_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 异步输出 -->
    <appender name ="INFO_ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold >0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="kaleidoInfoFile"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <appender name="kaleidoErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/kaleido-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level> <!-- 输出WARN及以上日志，包括WARN -->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIRECTORY}/kaleido-error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>false</append>
        <encoder charset="UTF-8">
            <pattern>${NORMAL_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 异步输出 -->
    <appender name ="ERROR_ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold >0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="kaleidoErrorFile"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="kaleidoStandardLog" additivity="false">
        <level>INFO</level>
        <appender-ref ref="INFO_ASYNC"/>
        <appender-ref ref="ERROR_ASYNC"/>
    </logger>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="ConsoleOut"/>
        <appender-ref ref="ConsoleErr"/>
    </root>

    <!--日志异步到数据库 -->
    <!--<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">-->
    <!--&lt;!&ndash;日志异步到数据库 &ndash;&gt;-->
    <!--<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">-->
    <!--&lt;!&ndash;连接池 &ndash;&gt;-->
    <!--<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
    <!--<driverClass>com.mysql.jdbc.Driver</driverClass>-->
    <!--<url>jdbc:mysql://127.0.0.1:3306/databaseName</url>-->
    <!--<user>root</user>-->
    <!--<password>root</password>-->
    <!--</dataSource>-->
    <!--</connectionSource>-->
    <!--</appender>-->
</configuration>